.App {
  text-align: center;
  /* background-color:#d3d3d338; */
  background-color: #E6E8E6;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.trail-block li {
  display: inline-block;
  text-align: left;
  margin: 3px;
  padding: 0, 30px;
  width: 250px;
  background-color: #CED0CE
}
.snow-row {
  border: 4px solid #475841;
}
.snow-col {
  /* border: 2px solid #4A7D63; */
  border: 2px solid #475841;
  height: 330px;
  /* background-color: rgba(215, 166, 86, 0.808); */
  background-color: #9FB8AD;
}
.snow-date {
  font-size: 22px;
  padding-top: 5px;
}
p {
  color: #3F403F
}
h1, h2, h3, h4 {
  color: #3F403F;
}
.header-links {
  color: #BE7C4D;
}
.snow-icon-temp {
  position: absolute;
  bottom: 10%;
  left: 20%;
  right: 20%;
}
.title-heading {

font-family: 'Bangers', cursive;

  color:  #BE7C4D;
  font-size: 70px;
}
* {
  font-family: 'Sarabun', sans-serif;
}
.login-page {
  height: 100vh
}